<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Station detail</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<table>
	<thead th:fragment="columns">
	<tr>
		<th>Id</th>
		<th>Label</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr th:fragment="row(data, delPath)">
		<td>
			<a th:href="@{'/station/{id}'(id=${data.id})}" th:text="${data.id}"></a>
		</td>
		<td th:text="${data.label}"></td>
		<td>
			<form th:action="@{'/station/{id}/edit'(id=${data.id})}" th:method="get">
				<button type="submit">edit</button>
			</form>
		</td>
		<td th:if="${delPath != null}">
			<form th:action="@{'/station'+${delPath}+'/{id}'(id=${data.id})}" th:method="delete">
				<button type="submit">DELETE</button>
			</form>
		</td>
	</tr>
	</tbody>
</table>
<div th:if="${outgoing != null}">
	<h3>Reachable stations</h3>
	<table>
		<thead th:replace="~{station/detail::columns}"></thead>
		<tbody>
		<tr th:each="item: ${outgoing}">
			<div th:replace="~{station/detail::row(${item}, ${null})}"></div>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>