<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${(data.id != null ? 'Edit':'Create')+' station'}">
		Edit data
	</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<main th:fragment="edit(data)">
	<h3 th:text="${(data.id != null ? 'Edit':'Add')+' station'}">Station attribute form</h3>
	<form th:method="${data.id != null ? 'put' : 'post'}"
				th:action="@{${'/station'+(data.id != null ? '/' + data.id:'')}}"
				th:object="${data}">
		<input placeholder="Station label" th:field="*{label}" type="text" th:value="${data.label}"
					 required/>
		<input type="submit" th:value="${data.id != null ? 'Update' : 'Create'}"/><input type="reset"/>
	</form>
	<div th:if="${outgoing != null}">
		<h3>Reachable stations</h3>
		<form th:action="@{'/station/{id}/outgoing'(id=${data.id})}" method="post">
			<input placeholder="Station label" type="text" name="label" required/>
			<button type="submit">Add</button>
		</form>
		<table>
			<thead th:replace="~{station/detail::columns}"></thead>
			<tbody>
			<tr th:each="item: ${outgoing}">
				<div th:replace="~{station/detail::row(${item},@{'/{id}/outgoing'(id=${data.id})})}"></div>
			</tr>
			</tbody>
		</table>
	</div>
</main>
</body>
</html>