body {
	font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	padding: 30px;
}

hr {
	color: #bbb;
	background-color: #bbb;
	height: 1px;
	flex: 0 1 auto;
	margin: 1em 0;
	padding: 0;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #11aa00;
}

pre {
	border-radius: 3px;
	font-size: 85%;
	line-height: 1.45;
	overflow: auto;
	padding: 16px;
  background-color: #88888822;
}

/**
  * Code blocks
  */

code {
	border-radius: 3px;
	margin: 0;
	white-space: pre-wrap;
	padding: 0.2em 0.4em;
	font-family: Fira Code, monospace;
}

pre > code {
	border: 0;
	display: inline;
	line-height: inherit;
	margin: 0;
	overflow: visible;
	padding: 0;
	word-wrap: normal;
  font-size: 120%;
}

/**
 * Blockquotes
 */
blockquote {
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 16px;
	border-left-width: 3px;
	padding: 0 1em;
	border-left: 4px solid #e8e8e8;
	padding-left: 15px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;
}
blockquote * {
	font-style: normal !important;
	letter-spacing: 0;
	color: #6a737d !important;
}

/**
 * Tables
 */
table {
	border-spacing: 2px;
	display: block;
	font-size: 14px;
	overflow: auto;
	width: 100%;
	margin-bottom: 16px;
	border-spacing: 0;
	border-collapse: collapse;
}

td {
 padding: 6px 13px;
	border: 1px solid #666666;
}

td:has(a) {
	padding: 0;
}

td a {
	padding: 6px 13px;
	display: block;
	text-decoration: none;
}

th {
	font-weight: 600;
	padding: 6px 13px;
	border: 1px solid #666666;
}

tr {
	border-top: 1px solid #666666;
}

/**
 * Others
 */

img {
	max-width: 100%;
}

p {
	line-height: 24px;
	font-weight: 400;
	font-size: 16px;
}

ul {
	margin-top: 0;
}

li {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

li + li {
	margin-top: 0.25em;
}

a:visited {
	color: #0366d6;
}

h1,
h2,
h3 {
	border-bottom: 1px solid #eaecef;
}
