<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>TGV Index</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<main>
	<div th:replace="~{company/index::list(${companies})}"></div>
	<div th:replace="~{station/index::list(${stations})}"></div>
	<div th:replace="~{train/index::list(${trains})}"></div>
</main>
</body>
</html>