<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body th:fragment="navbar(error)">
<nav class="navbar">
	<table>
		<thead>
		<tr>
			<th><a href="/">Index page</a></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th><a href="/company">Company list</a></th>
			<th><a href="/station">Station list</a></th>
			<th><a href="/train">Train list</a></th>
		</tr>
		</tbody>
	</table>
</nav>
<code th:if="${error}" th:text="${error}"></code>
</body>
</html>