<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Train detail</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<table>
	<thead th:fragment="columns">
	<tr>
		<th>Id</th>
		<th>Company</th>
		<th>At</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr th:fragment="row(data)">
		<td>
			<a th:href="@{'/train/{id}'(id=${data.id})}" th:text="${data.id}"></a>
		</td>
		<td>
			<a th:href="@{'/company/{id}'(id=${data.company.id})}"
				 th:text="${data.company.id + ': ' + data.company.name}"></a>
		</td>
		<td th:if="${data.at != null && data.at.label != null}">
			<a th:href="@{'/station/{id}'(id=${data.at.id})}"
				 th:text="${data.at.id + ': ' + data.at.label}"></a>
		</td>
		<td th:unless="${data.at != null && data.at.label != null}">
			<i>No station specified</i>
		</td>
		<td>
			<form th:action="@{'/train/{id}/edit'(id=${data.id})}" th:method="get">
				<button type="submit">edit</button>
			</form>
		</td>
		<td>
			<form th:action="@{'/train/{id}'(id=${data.id})}" th:method="delete">
				<button type="submit">DELETE</button>
			</form>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>