<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${(data.id != null ? 'Edit':'Create')+' train'}">
		Edit data
	</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<main th:fragment="edit(data)">
	<div th:if="${data.company == null}"
			 th:text="${data.setCompany(new cz.plitos.tgv.model.CompanyDto())}"></div>
	<div th:if="${data.at == null}"
			 th:text="${data.setAt(new cz.plitos.tgv.model.StationDto())}"></div>
	<h3 th:text="${(data.id != null ? 'Edit':'Add')+' train'}">Train attribute form</h3>
	<form th:method="${data.id != null ? 'put' : 'post'}"
				th:action="@{${'/train'+(data.id != null ? '/' + data.id:'')}}"
				th:object="${data}">
		<input placeholder="Company" th:field="*{company.name}" type="text" required
					 th:value="${data.company.name}"/>
		<input placeholder="At station" th:field="*{at.label}" type="text" th:value="${data.at.label}"/>
		<input type="submit" th:value="${data.id != null ? 'Update' : 'Create'}"/><input type="reset"/>
	</form>
</main>
</body>
</html>