<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Train index</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<div th:replace="~{train/edit::edit(${data})}"></div>
<!--<a href="#" th:href="@{/train/create}">Register a train</a>-->
<main th:fragment="list(list)">
	<h3>Registered trains</h3>
	<div th:if="${list.size()>0 || company != null || station != null}">
		<h4>Filter:</h4>
		<form th:method="get" th:action="@{/train}">
			<input placeholder="Search by company" name="company" id="company" type="text"
						 th:value="${company}"/>
			<input placeholder="Search by station" name="station" id="station" type="text"
						 th:value="${station}"/>
			<input type="submit" value="Search"/>
		</form>
	</div>
	<table>
		<thead th:replace="~{train/detail::columns}"></thead>
		<tbody>
		<tr th:each="item: ${list}">
			<div th:replace="~{train/detail::row(${item})}"></div>
		</tr>
		</tbody>
	</table>
</main>
</body>
</html>