<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Company detail</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<table>
	<thead th:fragment="columns">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	<tr th:fragment="row(data)">
		<td>
			<a th:href="@{'/company/{id}'(id=${data.id})}" th:text="${data.id}"></a>
		</td>
		<td th:text="${data.name}"></td>
		<td>
			<form th:action="@{'/company/{id}/edit'(id=${data.id})}" th:method="get">
				<button type="submit">edit</button>
			</form>
		</td>
		<td>
			<form th:action="@{'/company/{id}'(id=${data.id})}" th:method="delete">
				<button type="submit">DELETE</button>
			</form>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>