<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${(data.id != null ? 'Edit':'Create')+' company'}">
		Edit data
	</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<main th:fragment="edit(data)">
	<h3 th:text="${(data.id != null ? 'Edit':'Add')+' company'}">Company attribute form</h3>
	<form th:method="${data.id != null ? 'put' : 'post'}"
				th:action="@{${'/company'+(data.id != null ? '/' + data.id:'')}}"
				th:object="${data}">
		<input placeholder="Company name" th:field="*{name}" type="text" required
					 th:value="${data.name}"/>
		<input type="submit" th:value="${data.id != null ? 'Update' : 'Create'}"/><input type="reset"/>
	</form>
</main>
</body>
</html>