<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Company index</title>
	<link th:href="@{styles.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{navbar::navbar(${error})}"></div>
<div th:replace="~{company/edit::edit(${data})}"></div>
<!--<a href="#" th:href="@{/company/create}">Register a company</a>-->
<main th:fragment="list(list)">
	<h3>Registered companies</h3>
	<table>
		<thead th:replace="~{company/detail::columns}"></thead>
		<tbody>
		<tr th:each="item: ${list}">
			<div th:replace="~{company/detail::row(${item})}"></div>
		</tr>
		</tbody>
	</table>
</main>
</body>
</html>